<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jongho.user.dao.mapper.AuthUserMapper">
    <insert id="createAuthUser" parameterType="com.jongho.domain.auth.AuthUser">
        INSERT INTO auth_users (user_id, refresh_token, user_agent)
        VALUES (#{userId}, #{refreshToken}, #{userAgent})
    </insert>
    <select id="selectOneAuthUser" resultType="com.jongho.domain.auth.AuthUser">
        SELECT
        auth_users.user_id, auth_users.refresh_token, auth_users.user_agent
        FROM auth_users
        WHERE auth_users.user_id = #{userId}
        AND auth_users.user_agent = #{userAgent}
        AND auth_users.deleted_time is null
        LIMIT 1
    </select>
    <update id="updateRefreshToken" parameterType="com.jongho.domain.auth.AuthUser">
        UPDATE auth_users
        SET refresh_token = #{refreshToken}
        WHERE user_id = #{userId}
        AND user_agent = #{userAgent}
    </update>
</mapper>